--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 

@import "minima";

.img-explain {
  width: 600px;
}


div.post-content>#markdown-toc {
  float: right;
  width: 20%;
  max-width: 320px;
  min-width: 240px;
  margin-top: -100px;
}

div.post-content>#markdown-toc {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

div.wrapper {
  max-width: calc(1200px - 2*(30px));
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

div.post-content>p {
  width: 65%;
}

table,
hr,
p,
ol,
div.highlight {
  width: 65%;
}

div.post-content>ul {
  width: 65%;
  //max-width: 800;
}
